html {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
}

.icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(107deg) brightness(108%) contrast(101%);
}

.icon-gray {
    filter: invert(34%) sepia(10%) saturate(61%) hue-rotate(315deg) brightness(94%) contrast(86%);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 16px;
}

h4 {
    font-size: 1.25em;
    margin-bottom: 8px;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template: minmax(150px, 300px) minmax(2000px, 4fr) / 1fr 6fr;
}

.sidebar {
    background-color: rgb(61, 129, 255);
    grid-column: 1/2;
    grid-row: 1/3;
    min-width: 400px;
}

.sidebaritem {
    display: grid;
    grid-template: 1fr/1fr 4fr;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 16px 32px;
}

.sidebartitle {
    margin-top: 48px;
    margin-bottom: 32px;
}

.sidebaritem>img {
    grid-column: 1/2;
    justify-self: center;
}

.sidebaritem>p {
    grid-column: 2/3;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.sidebartitle>h1 {
    color: white;
}

.header {
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 1);
}

.headerupper {
    grid-row: 1/2;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    margin: 32px;
    margin-left: 64px;
}

.searcharea {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.searcharea>div {
    grid-column: 1/2;
}

.searcharea>div+div {
    grid-column: 2/3;
}

.headertopright {
    display: grid;
    justify-self: end;
    align-items: center;
    width: 400px;
    margin-right: 32px;
}

.notification-icon {
    grid-column: 3/4;
}

.account-icon {
    grid-column: 4/5;
}

.account-name {
    grid-column: 5/6;
    font-size: 1.5em;
    font-weight: bold;
}

.headerlower {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    margin: 32px;
    margin-left: 64px;
    align-items: center;
}

.headergreeting {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    min-width: 400px;
}

.headergreeting>img {
    grid-column: 1/2;
}

.headergreeting>div {
    grid-column: 2/3;
    margin-left: 32px;
}

.headergreeting>div>p {
    font-size: 1.5em;
    margin: 0px;
}

.headergreeting>div>p+p {
    font-size: 2.5em;
    margin: 0px;
}

.headerbuttons {
    grid-column: 2/3;
    justify-self: end;
    min-width: 600px;
}

.headerbutton {
    margin: 0px 16px 0px 16px;
    width: 150px;
    height: 50px;
    border-radius: 24px;
    border: 0px;
    background-color: rgb(61, 129, 255);
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.headerbutton:hover {
    background-color: rgb(47, 110, 226);
}

.headerbutton:active {
    background-color: darkviolet;
}

.main-content {
    background-color: rgb(217, 224, 240);
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 100px 1fr;
}

.projectsheader {
    grid-column: 1/2;
    grid-row: 1/2;
    align-content: center;
    margin-left: 32px;
}

.announcementsheader {
    grid-column: 2/3;
    grid-row: 1/2;
    align-content: center;
    margin-left: 32px;
}

.projects {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(200px, 500px));
    gap: 64px;
    margin: 0px 32px 32px 32px;
}

.project {
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);
    display: grid;
    grid-template: 3fr 1fr / 16px 1fr;
}

.projectmargin {
    background-color: rgb(255, 204, 35);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.projectcontent>h3 {
    margin-bottom: 16px;
}

.projectcontent {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 32px;
}

.projectcontent>p {
    font-size: 1.5em;
    color: gray;
}

.projectbuttons {
    grid-column: 2/3;
    grid-row: 2/3;
    align-content: center;
    justify-self: right;
    margin-right: 32px;
}

.projectbuttons>a {
    margin-left: 16px;
}

.projectbuttons>a>img:hover {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
}

.updates {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: minmax(300px, 400px) 100px minmax(300px, 400px);
    grid-template-columns: 1fr;
    margin: 0px 32px 32px 32px;
}

.announcements {
    grid-row: 1/2;
    border-radius: 10px;
    background-color: white;
    padding: 32px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}

.announcements > div {
    border-bottom: 1px solid gray;
}

.announcements>div>p {
    color: gray;
}

.trendingheader {
    grid-row: 2/3;
    align-content:end;
    margin-bottom: 20px;
}

.trendingheader > h2 {
    margin-bottom: 0px;
}

.trending {
    grid-row: 3/4;
    border-radius: 10px;
    background-color: white;
    padding: 16px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
}

.trending-user {
    display: grid;
    grid-template-columns: 75px 1fr;
    gap: 32px;
    align-items: center;
}

.trending-user-name > p {
    font-size: 1.25em;
}

.trending-user-name > p + p {
    color: gray;
}

input[type="search"] {
    width: 800px;
    height: 50px;
    border-radius: 25px;
    border: 0px;
    background-color: rgb(217, 224, 240);
    padding: 8px;
    font-size: 24px;
}

input:focus {
    outline: 2px solid rgb(47, 110, 226);
}